@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100dvh;
    text-underline-offset: 6px;
}

body {
    background-color: theme('colors.background');
    color: theme('colors.text');
}

@layer base {
    a {
        text-decoration: underline;
    }
}
